[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
	branch = port-maintenance
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
[submodule "2s2h/OTRExporter"]
	path = 2s2h/OTRExporter
	url = https://github.com/HarbourMasters/OTRExporter.git
[submodule "2s2h/ZAPDTR"]
	path = 2s2h/ZAPDTR
	url = https://github.com/HarbourMasters/ZAPDTR.git
