[submodule "libultraship"]
	path = libultraship
	url = https://github.com/natebuckareff/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
