[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
[submodule "soh/soh/Enhancements/randomizer/logic"]
	path = soh/soh/Enhancements/randomizer/logic
	url = https://github.com/xxAtrain223/ShipOfHarkinian-RandoLogic.git
